<div class="mycontainer">
  <div class="container1">
    <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value);postForm.reset()">
      <input type="text" name="inputData" id="data" style="margin-top: 10px;" class="form-control"
        [(ngModel)]="inputData" placeholder="Enter your message">
      <button class="btn btn-primary" id="submitButton" style="margin-top: 20px;margin-bottom: 20px;">
        send
      </button>
      <p *ngIf="message" id="messageContainer">{{message}}</p>
    </form>
  </div>
  <div id="likeContainer" class="container2">
    <app-data [indata]="data" (liked)="onLiked($event)">
    </app-data>
  </div>
</div>
